build
devel
install
*.workspace
*.user
src/CMakeLists.txt
*.catkin_workspace
.vscode
**/CATKIN_IGNORE
*.pyc
*.idea
*.launch~
node_modules
*.bag
*.jpg
*.autosave
*.pbstream
.sn-credentials
*.curvature
*.path
*.tangents
package-lock.json
.clang-format
src/brain_core/knx_global/config/state_machine.yaml
.catkin_tools/
.idea
*.tgz
*.tar.gz
.sn-credentials
/**/log/
knx_release_lib/release/
components/*/release
components/*/apps/*/release
/aAGV
/Guidance_STR
/STR
/Daimler
venv
/release
.npmrc
.pypirc
